body {
	background-color: lightblue;
	background-image: url(../images/bg.png);
	font-family: 'Sansation';
	}
	
b {
	font-family: 'Sansation Bold';
	}

.logo {
	position: relative;
	top: 0px;
	left:0px;
	width: 100%;
	height: 150px;
	
	text-align: center;
	
	background: #e2e2e2; /* Old browsers */
	background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	}
	
.content {
	position: absolute;
	top: 204px;
	left: 50%;
	margin-left: -400px;
	width: 800px;
	
	padding-left: 20px;
	padding-right: 20px;
	
	background-color: white;
	}
	
.footer {
	bottom: 0px;
	left: 50%;
	margin-left: -20px;
	width: 800px;
	height: 60px;
	
	padding-left: 20px;
	padding-right: 20px;
	
	text-align: center;
	
	color: #D6D6D6;
	
	background-color: white;
	}

/*
 *	##################
 *	modified Bootstrap
 *	##################
 */
	
.navbar {
	border-radius: 0px;
	margin-bottom: 0px;
	}
	

.popover {
	min-width: 400px;
	max-width: 600px;
	min-height: 280px;
}

.pull-left {
	margin-right: 10px;
}

.img-thumbnail {
    height: 75px;
}